*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
nav{
    font-size: 2em;
}
#logo-nav{
    width: 150px;
    margin-right: calc(50vw - 150px);
}

#banner-image{
    overflow: hidden;
    height: 30vh;
}

#banner-image img{
    width: 100%;
    margin-top: -30vh;
}