@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
nav{
    font-size: 2em;
}
#logo-nav{
    width: 170px;
}

#banner-image{
    overflow: hidden;
    height: 30vh;
}

#banner-image img{
    width: 100%;
    margin-top: -30vh;
}

#home-svg{
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
#profile-svg{
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
#navbarNav{
    display: flex;
    justify-content: space-between;
}

.bg-orange{
    background-color: #ff8934;
}
.bg-blue{
    background-color: #1c4f57;
}
.bg-green{
    background-color: #35b86c;
}

#app{
    width: 100vw;
}
#overlay{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0,0.7);
}

.img-recipe:hover{
    opacity: 0.5;
}

.conteiner-component{
    overflow: hidden;
    width: 100vw;
    text-align: center;
}



.high-bar:hover{
    cursor: pointer;
}

.high-bar{
    position: relative;
    z-index: 1;
    height: 10vh;
    font-size: calc(25px + 1vw) ;
    text-align: left;
    align-items: center;
}
.high-bar input{
    font-size:20px;
}

.content{
    position: relative;
    z-index: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: transform .5s ease-in-out, opacity .2s;
}

.fade-enter, .fade-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.high-bar span{
    margin: 1em;
    color: white;
}


.item-component{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: white;
    margin: 1%;
    width: 20%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
}
.item-component div{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 3px;
    border-top: 2px solid rgb(161, 161, 161);
}
.item-component img{
    height: 15vh;
    width: auto;
}
.item-component p{
    font-size: 1.1em;
}
.item-component h5{
    font-size: 1.5em
}
.btn{
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

@media only screen and (max-width: 1400px) {
    .item-component{
        width: 40vw;
        margin: 1.5vw;
    }
}
@media only screen and (max-width: 700px) {
    .item-component{
        width: 95vw;
        margin: 2vw;
    }
}